{%- query_graph 'modules/dashboard/dashboard_current_user', result_name: dashboard_current_user -%}
<nav class="navbar navbar-dark fixed-top bg-secondary flex-md-nowrap p-0 shadow navbar-expand-lg">
  Here we put logo, menus and user infomations...
</nav>