{%- query_graph 'modules/dashboard/dashboard_current_user', result_name: dashboard_current_user -%}
<header>
  <div class="container">
    <nav class="navbar navbar-dark flex-md-nowrap pt-1 navbar-expand-lg">
      <div class="o-container container-fluid">
        <a class="navbar-brand" href="/"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse navbar-fixed-top" id="navbarSupportedContent">
          <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item">
              <a class="nav-link" href="/blog/category/technology">Technology</a>
            </li>
            <li class="nav-item ml-3">
              <a class="nav-link" href="/blog/category/programming">Programming</a>
            </li>
            <li class="nav-item ml-3">
              <a class="nav-link" href="/blog/category/machine-learning">Machine Learning</a>
            </li>
            <li class="nav-item ml-3 mr-4 dropdown">
              {% if dashboard_current_user.current_user %}
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{ dashboard_current_user.current_user.first_name }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if dashboard_current_user.current_user.dashboard.admin == "true" %}
                <a class="dropdown-item mb-3" href="/dashboard">Dashboard</a>
                {% endif %}
                {% include_form "modules/signup/log_out" %}
              </div>
              {% else %}
              <a class="nav-link" href="/log-in">Log In</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>